.*.swp
*~
*.o
*.DS_Store

*.pyc
*.pyo
build/
dist/
*.egg-info/
.coverage
*.xml
cover
*.log*
*.out
*.egg

.tox

*.dot
*.png

.eggs
# ignore the folder where we store docker images for caching in travis
docker/
