language: generic
sudo: required

services:
  - docker

after_success:
  - ci_env=`bash <(curl -s https://codecov.io/env)`
  - docker run -v $PWD:/shared -e LOCAL_USER_ID=`id -u ${USER}` $ci_env fitiotlab/iot-lab-gateway-tests tox -e upload_coverage

script: make test
