[MASTER]
persistent = no

[REPORTS]

# output-format = parseable
msg-template = "{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}"

reports = no


[MESSAGES CONTROL]

disable = locally-disabled,star-args

