Host fit2-dev
  HostName fit2-dev.inrialpes.fr
  Port     2222
  User     root


Host gateway-m3-ci gateway-a8-ci open-a8-ci   gateway-m3
  User root
  StrictHostKeyChecking no
  ProxyCommand ssh fit2-dev -W %h:%p

